<div class="card">
    <form action="/admin/cons" method="POST">
        <label for="marca">Marca: </label>
        <input type="text" name="marca" placeholder="Nome da marca" class="form-control">
        <br>
        <button type="submit" class="btn btn-success">Consultar veiculos</button>
    </form>
</div>